* {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  
body > header {
    padding: 50.88px 144px;
    display: flex;
    gap: 95px;
  }
  
  body > header ul {
    display: flex;
    list-style-type: none;
    gap: 95px;
  }
  


  nav a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  nav a:hover {
    border-bottom: 2px solid #ffffff;
  }

  header{
    display: flex;
  }
  main #Hero p{
    font-size: 16px;
    font-weight: 400;
    padding-top:87.33px ;
    padding-right: 100px;
  }
  h1{
    font-size: 56.75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 62.43px;
    margin: 10.5px 0;
  }

  main #Hero > div {
    width: 658px;
    margin-right: -200px;
  }

  main #Hero {
    padding: 86px 0px 0px 144px;
    display: flex;
    justify-content: space-between;
  }

  #nft{
    margin: 0 0 0 15px;
    width:  505px ;
    height: 320px;
  }

  